/*css for Colin Fang's third assignment*/
#oneFloat {
  width: 200px;
  height: 100px;
  float: left;
}

#twoFloat {
  width: 200px;
  height: 100px;
  float: left;
  clear: right;
}
/*above two are for making the player's interfaces beside each other rather than one above and one below aka more appealing*/
#gratz {
  float: left;
  margin-top: 50px
}
/* above is for making the congratulatory sentence more visually appealing when window is minimized*/
